body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    margin: 0; 
}

.calculator {
    background-color: rgb(120, 239, 172);
    padding: 15px;
    border-radius: 10px;
    width: 95%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.c_group {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.input, .signs, button, .result {
    border: 0.5px dashed rgb(184, 22, 22);
    border-radius: 10px;
    padding: 10px;
    background: none;
    color: rgb(184, 22, 22);
    text-align: center;
}

button, .input, .signs {
    margin: 20px;
    font-weight: bold;
}

.result {
    width: 95%;
    max-width: 300px;
    height: 50px;
    text-align: left;
}

.new-result {
    font-weight: bold;
}

.old-result {
    font-weight: normal;
    opacity: 0.7;
}

.new-result, .old-result {
    color: rgb(184, 22, 22);
}

@media screen and (max-width: 1000px) {
    .calculator {
        width: 90%;
        max-width: 300px;
    }

    .c_group {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .input {
        width: 100%;
    }

    button {
        margin: 20px 0;
    }
}